<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error - {{title}} | Discord Bouncer Bot</title>
    <style>
        @import url('https://fonts.googleapis.com/css?family=Open+Sans|Playfair+Display:400,400i');

        body, html {
            font-family: 'Open Sans', sans-serif;
            position: relative;
            overflow: hidden;
            height: 100%;
            margin: 0;
        }

        #text {
            transform: translateY(-50%);
            text-align: center;
            position: relative;
            color: #685929;
            padding: 5px;
            top: 50%;
        }

        h1 {
            font-family: 'Playfair Display', serif;
            font-weight: normal;
            font-size: 300%;
        }
    </style>
</head>
<body>
    <div id="text">
        <h1>Error: <strong>{{title}}</strong>.</h1>
        <p>{{{text}}}</p>
    </div>
</body>
</html>
