doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='It\'s a good idea trust me')
        meta(name='author', content='Join nope\'s hell')

        title #{title}

        include /resources
    body

        // Background Video
        video.bg-video(playsinline='playsinline', autoplay='autoplay', muted='muted', loop='loop')
            source(src='assets/mp4/bg.mp4', type='video/mp4')

        // Masthead
        .masthead
            .masthead-content.text-white
                .container-fluid.px-4.px-lg-0
                    h1.fst-italic.lh-1.mb-4 STEM Shield™️
                    p.mb-5
                        | To keep our server safe, we use STEM Shield, a verification flow.
                        | This process should take no more than 10 seconds to complete.
                        | By verifying your account, you agree to the 
                        a.link-light(href="https://discord.com/privacy")
                            | Discord privacy policy
                        | and the 
                        a.link-light(href="https://policies.google.com/privacy")
                            | Google privacy policy!
                    
                    a.btn.btn-primary(href=oauth)
                        | Click to verify
                    br
                    div(style="height:1rem")
                    blockquote
                        h3.lh-1.mb-4 Why am I seeing this?
                        p
                            | Accounts newer than 3 days or accounts newer than a week without a profile picture will be detected as bots
        // Social Icons
        // For more icon options, visit https://fontawesome.com/icons?d=gallery&p=2&s=brands
        .social-icons
            .d-flex.flex-row.flex-lg-column.justify-content-center.align-items-center.h-100.mt-3.mt-lg-0
                a.btn.btn-dark.m-3(href='https://patreon.com/stemserver')
                    i.fab.fa-patreon
                a.btn.btn-dark.m-3(href='https://www.paypal.com/donate?hosted_button_id=C5UMNVT69K6SE')
                    i.fab.fa-paypal
                a.btn.btn-dark.m-3(href='https://www.youtube.com/watch?v=dQw4w9WgXcQ')
                    i.fab.fa-youtube

        include /bs

        // Core theme JS
        script(src='js/scripts.js')